@font-face {
	font-family: "RuneScape-UF";
	src: url("FONTS/RuneScape-UF.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
  
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #202020;
	color: #ffffff;
	font-family: "RuneScape-UF", sans-serif;   
	font-size: 24px;
	margin-left: 20px;                   
	line-height: 1.4;
}

h1 {
	display: grid;
	place-items: center;
	font-size: 64px;
}

h2 {
	letter-spacing: 0;
}